/* Global Styling */
body {
  font-family: 'Loto',sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff4cc;
}

/* Header */
header {
  background-color: #ffdd57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo{
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  color: #ff5555;
}

.search-bar{
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.icons{
  font-size: 24px;
}

/* Carrousel */

.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 300px;
}

.carousel  img{
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}

.carousel img.active{
  display: block;
}

/* categories */
.categories{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.category-card {
  background-color: #87ceeb;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-family: 'Comic San MS', sans-serif;
  cursor: pointer;
  transform: transform 0.3s;
}

.category-card:hover{
  transform: scale(1.05);
}

/* Products */
.products{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.product-card {
  background-color: #fff;
  width: 200px;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.product-card img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card button{
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.product-card:hover{
  transform: scale(1.05);
}

/* Footer */
footer{
  background-color: #ffdd57;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #444;
}